body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    text-align: center;
}

h2 {
    background-color: rgb(214, 190, 157);
}

td,
th {
    padding: 10px;
    border: 3px solid rgb(201, 165, 139);
}

input[type="submit"] {
    background-color: rgb(231, 194, 148);
    color: rgb(179, 101, 46);
    border-radius: 50px;
    width: 10%;
}

input[type="submit"]:hover {
    background-color: rgb(139, 71, 32);
}

input,
textarea,
select {
    width: 25%;
    padding: 10px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: rgb(88, 177, 53);
}

a:hover {
    color: rgb(0, 15, 1);
}

h2,
table {
    border: 2px solid rgb(34, 21, 5);
}

p {
    border: 2px dotted sandybrown;
}

h2:nth-of-type(1),
h2:nth-of-type(1)~p {
    color: rgb(1, 59, 1);
}

h2:nth-of-type(2),
h2:nth-of-type(2)~p {
    color: rgb(19, 19, 77);
}

h2:nth-of-type(3),
h2:nth-of-type(3)~p {
    color: rgb(36, 36, 41);
}